<a href="https://colab.research.google.com/github/alexsfrey/BTE320/blob/main/320_Class_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
customer = input('Are you a new customer? (Y/N)')

deposit = float(input("Enter deposit amount: "))
if customer == 'N':
  if deposit > 10000:
    interestRate = .035
  elif 1000<= deposit <= 10000:
    interestRate = .0325
  else:
    interestRate = .03
else:
  interestRate = .03

totalMoney = (1 + interestRate) * deposit


print(f'Total money: {totalMoney:.2f}')

Are you a new customer? (Y/N)Y
Enter deposit amount: 10000
Total money: 10300.00

In [ ]:
import random

playAgain = input('Do you want to play rock, paper, scissors? (y/n) ')

while playAgain == 'y':
  pc_choice = random.choice(['rock', 'paper', 'scissors'])
  userInput = input('Enter rock, paper, or scissors: ')

  print(f'computer chose: {pc_choice}')

  if (userInput == 'rock' and pc_choice == 'scissors') or (userInput == 'paper' and pc_choice == 'rock') or (userInput == 'scissors' and pc_choice == 'paper'):
    print("user wins")
  elif userInput == pc_choice:
    print("it's a tie")
  else:
    print('computer wins')

  playAgain = input('Do you want to play again? (y/n) ')
print('Goodbye!')

Do you want to play rock, paper, scissors? (y/n) y
Enter rock, paper, or scissors: rock
computer chose: scissors
user wins
Do you want to play again? (y/n) n

In [ ]:
userInput = int(input('Enter a year: '))

if userInput % 100 == 0:
  if userInput % 400 == 0:
    print('This is a leap year')
  else:
    print('This is not a leap year')

elif userInput % 4 == 0:
  print('This is a leap year')

else:
  print('This is not a leap year')

Enter a year: 2200
This is not a leap year

In [ ]:
for hours in range(1,9):
  parking_fee = 5 + 2.5*hours

  if parking_fee <= 10:
    parking_fee = 10
  elif parking_fee >= 20:
    parking_fee = 20

  print(f'Hours: {hours} | Price: ${float(parking_fee)}')

Hours: 1 | Price: $10
Hours: 2 | Price: $10
Hours: 3 | Price: $12.5
Hours: 4 | Price: $15.0
Hours: 5 | Price: $17.5
Hours: 6 | Price: $20
Hours: 7 | Price: $20
Hours: 8 | Price: $20

In [ ]:
amount = 50000
down = 100000
deposit = 10000
month = 0

while amount < down:
  print(f'Current amount: ${amount}')
  amount = amount + deposit
  print(f'Amount after deposit: ${amount}')

  if amount >= down:
    print('___________________________')
    break

  print('---------------------------')
  month = month + 1

print(f'Getting $100,000 took {month} months.')

Current amount: $50000
Amount after deposit: $60000
---------------------------
Current amount: $60000
Amount after deposit: $70000
---------------------------
Current amount: $70000
Amount after deposit: $80000
---------------------------
Current amount: $80000
Amount after deposit: $90000
---------------------------
Current amount: $90000
Amount after deposit: $100000
___________________________
Getting $100,000 took 4 months.

In [ ]:
while True:
  numberOne = float(input('Enter the first number: '))
  numberTwo = float(input('Enter the second number: '))
  operator = input('Enter the desired operator, or type break to end: ')

  if operator == 'break':
    break
  elif operator == '+':
    output = numberOne + numberTwo
  elif operator == '-':
    output = numberOne - numberTwo
  elif operator == '*':
    output = numberOne * numberTwo
  elif operator == '/':
    output = numberOne / numberTwo
  elif operator == '//':
    output = numberOne // numberTwo
  elif operator == '%':
    output = numberOne * numberTwo
  elif operator == '**':
    output = numberOne ** numberTwo
  else:
    print('Invalid operator')
    continue

  print(f'Answer: {output:.2f}')

Enter the first number: 457
Enter the second number: 23
Enter the desired operator, or type break to end: /
Answer: 19.87
Enter the first number: 9
Enter the second number: 9
Enter the desired operator, or type break to end: break

In [ ]:
userInput = input('Enter the date in mm/dd/yyyy format: ')
month = userInput[:2]
day = userInput[3:5]
year = userInput[6:]

print(f'{month} {day} {year}')

Enter the date in mm/dd/yyyy format: 02/21/2024
02 21 2024

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

print(s1)
print(s2)

for char in s1:
   if char in s2:
     print(f'{char} is in both s1 and s2')

print('---------------------------')

for index in range(len(s1)):
  if s1[index] in s2:
   print(f'{s1[index]} is in both s1 and s2')

abcdefg
abdght
a is in both s1 and s2
b is in both s1 and s2
d is in both s1 and s2
g is in both s1 and s2
---------------------------
a is in both s1 and s2
b is in both s1 and s2
d is in both s1 and s2
g is in both s1 and s2

In [6]:
L = []
number = int(input('Enter a value: '))
while number != 0:
  L.append(number)
  print(f'New list: {L}')
  number = int(input('Enter a value, or 0 to end: '))

print(f'Final list: {L}')

Enter a value: 45
New list: [45]
Enter a value, or 0 to end: 12345
New list: [45, 12345]
Enter a value, or 0 to end: 765
New list: [45, 12345, 765]
Enter a value, or 0 to end: 4
New list: [45, 12345, 765, 4]
Enter a value, or 0 to end: 0